<div class="col-md-12 bg">
  <div class="container">
    <div class="jumbotron row">
      <div class="col-md-6">
          <div class="form-group">
            <label>ชื่อผู้ขอเข้าพบ</label>
            <input type="text" class="form-control" [(ngModel)]="name" placeholder="Name">
          </div>
          <div class="form-group">
            <label>หัวข้อที่จะสนทนา</label>
            <input type="text" class="form-control" [(ngModel)]="topic" placeholder="Topic">
          </div>
          <div class="form-group">
            <label>ขอเข้าพบช่วงเวลา</label>
            <input type="text" class="form-control" [(ngModel)]="time" placeholder="เช่น 13:00น.">
          </div>
          <div class="form-group">
            <label>ระยะเวลาเข้าพบ</label>
            <input type="text" class="form-control" [(ngModel)]="duration" placeholder="เช่น 1 ชั่วโมง">
          </div>
          <button type="submit" (click)="addQueue()" class="btn btn-default">Send form</button>
      </div>
      <div class="col-md-4 col-md-offset-2 inq">
        <h2 align="center" style="color:#fff">In Queue</h2>
        <div *ngFor="let element of queue">
          <div class="que row">
            <div class="col-md-6">
              <p class="f-white">{{element.name}}</p>
              <p class="f-white">{{element.time}}</p>
            </div>
            <div class="col-md-6">
              <p class="f-white">{{element.time}}</p>
              <p class="f-white">{{element.duration}}</p>
            </div>
          </div>
        </div>
      </div>
    </div><!--END JBT-->
  </div><!--END CONTAINER-->
</div><!--END COL 12-->
