.content{
  padding:6%;
  color:#fff;
}
.que-form{
 background-color:#3498db; 
}
.que-list{
 background-color:#5e5e5e; 
 height:900px;
}
.space{
  margin-top:5%;
}
.footer{
  background-color:#607D8B;
}
